@charset "utf-8";

.timeline_itmes{
  color : white;
  margin-left: 20%;
  margin-right: 20%;
}

.timeline_year{
  color : yellow;
  font-size: 30;
}

.item_title {
    font-size: 25;
    color: #FED057;
    margin-bottom:10px;
}

.item_time{
    font-size: 15;
    font-weight: bold;
    color : white;
}

.item_summary{
    font-size: 13;
    color : white;
}

.item_reference_link{
    font-size: 13;
    color: skyblue;
    text-decoration: underline;
}

.divider {
    color: white;
    height: 0.5px;
}

.sub_divider {
    color: white;
    height: 0.1px;
    border-style: dashed;
}

#item_tags {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
}

#tag_fig {
    float: left;
    width: 30px;
    height: 15px;
    color : black;
    display:inline;
    font-size: 13;
    background-color: pink;
    margin-right: 5px;
    margin-bottom: 10px;
}
