@charset "utf-8";

.grid {
  align-self: center;
  width: auto;
  height: 500px;
  display: grid;
  grid-template-columns: 20% 30% 10% 10% 10% 20%;
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

/* 초안 개발시 흰 배경에서 보이기 위함 */
.grid div{
  background-color: #FED057;
  opacity : 0.3;
  font-weight: normal;
  text-align: center;
}

.grid div:hover{
  background-color: #FED057;
  opacity : 1;
  font-weight: bold;
}

.home {
  grid-column: 2;
  grid-row: 1 / 4;
}
.introduction {
  grid-column: 3 / 6;
  grid-row: 1;
}
.timelines {
  grid-column: 3 / 6;
  grid-row: 2;
}
.messenger {
  grid-column: 3;
  grid-row: 3;
}
.insta {
  grid-column: 4;
  grid-row: 3;
}
.mail {
  grid-column: 5;
  grid-row: 3;
}
